* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent !important;
  background-color: transparent !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Pricedown';
  src: local('Pricedown'), local('PricedownBl-Regular');
  font-weight: normal;
  font-style: normal;
}
